* {
    border: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    color: black;
}

header, object{
    width: 100%;
    overflow: hidden;
}
 li a{
    color: white;
}

li :hover{
    color: green;
    background-color: orangered;
    border-radius: 5px;
}
#cabecalho {
    background-color: rgb(53, 197, 197);
    height: 270px;
    float: none;
    background-image: url(imagens/reparebem2.png);
    background-repeat: no-repeat;
    background-position-x: center;
    }
menu ol li{
    padding-right: 10px;
    padding-left: 10px;
    display: inline;
    color: white;
    font-size: large;
    

}
menu ol {
    background-color: rgb(11, 46, 46);
    margin-top: 200px ;
    height: 40px;
    width: 100%;
    
}
menu{
    padding-top: 20px;
}
#menuSecundario li{
    display: inline;
    padding: 0px 20px 0px 10px;
}
#menuSecundario li:hover{
background-color: black;
color: white;

}
#corpo {
    margin: auto;
}
#conteudo {
    background-color: rgb(27, 168, 168);
    min-height: 700px;
    width: 100%;
    padding-top: 10px;

    float: left;
    
    
}


#rodape {
    background-color: rgb(54, 104, 104);
    height: 100px;
    float: left;
    width: 100%;
}


body header div h1 {
text-align: center;
padding-top: 15px;
padding-bottom: 5px;
font-size: 45px;
}
.caixaBox{
    border: rgb(55, 128, 128) double;
    width: 70px;
    height: 100px;
    padding-top: 10px;
    margin: 3px;
    float: left;
   
}
a div p{
        font-size: 14px;
}
#vago {
    display: none;
}